.divider {
  height: 10vh;
}

.toolbar {
  height: 10vh;
  @apply z-40 py-4 px-32 fixed top-0 w-full flex justify-between items-center;
}

.links_container {
  @apply text-white flex items-center gap-9 font-bold;
}
